<div class="login-register-wrapper">

  <form [formGroup]="loginForm" class="loginForm" *ngIf="!showRegisterForm" (ngSubmit)="onLoginSubmit()">

    <div class="form-field-wrapper">
      <i class="material-icons">email</i>
      <input type="email" required email minlength="6" class="loginEmail" formControlName="email" placeholder="Email Address"/>
    </div>

    <div class="form-field-wrapper">
      <i *ngIf="loginForm.value.password.length === 0" class="material-icons">lock</i>
      <i *ngIf="loginForm.value.password.length > 0" class="fa"
         [ngClass]="{'fa-eye-slash': showLoginPassword,'fa-eye' : !showLoginPassword}"
         (click)="toggleShowLoginPassword()"
      ></i>
      <input type="{{credentialsFieldTypeResolver('Login')}}" required class="loginPwd" formControlName="password" placeholder="Password"/>
      <span class="forgot-notice anchor">Forgot Password?</span>
    </div>

    <div class="form-field-wrapper">
      <button type="submit">LOGIN</button>
    </div>

  </form>

<!--register form-->
  <form [formGroup]="registerForm" class="registerForm" *ngIf="showRegisterForm" (ngSubmit)="onRegisterSubmit()">

    <div class="form-field-wrapper">
      <i class="material-icons">badge</i>
      <input type="text" required minlength="3" formControlName="name" placeholder="Full Name"/>
    </div>

    <div class="form-field-wrapper">
      <i class="material-icons">badge</i>
      <input type="date" required formControlName="dob" placeholder="Date of birth"/>
    </div>

    <div class="form-field-wrapper">
      <i class="material-icons">email</i>
      <input type="email" required email minlength="6" class="loginEmail" formControlName="email" placeholder="Email Address"/>
    </div>

    <div class="formError form-field-wrapper" [ngStyle]="{'display': registerForm.get('email').errors && registerForm.get('email').dirty ? 'block' : 'none'}">
      <i class="material-icons error-heading">sentiment_very_dissatisfied</i>
      <p *ngFor="let error of getFormControlErrors('email')">
        {{error}}
      </p>
    </div>

    <div class="form-field-wrapper">
      <i *ngIf="registerForm.value.registerPassword.length === 0" class="material-icons">lock</i>
      <i *ngIf="registerForm.value.registerPassword.length > 0" class="fa"
         [ngClass]="{'fa-eye-slash': showRegisterPassword,'fa-eye' : !showRegisterPassword}"
         (click)="toggleShowRegisterPassword()"
      ></i>
      <input type="{{credentialsFieldTypeResolver('Register')}}" required class="registerPwd" formControlName="registerPassword" placeholder="Password"/>
    </div>

    <div class="formError form-field-wrapper" [ngStyle]="{'display': registerForm.get('registerPassword').errors && registerForm.get('registerPassword').dirty ? 'block' : 'none'}">
      <i class="material-icons error-heading">sentiment_very_dissatisfied</i>
      <p *ngFor="let error of getFormControlErrors('registerPassword')">
        {{error}}
      </p>
    </div>

    <div class="form-field-wrapper">
      <i *ngIf="registerForm.value.registerPassword_confirmation.length === 0" class="material-icons">lock</i>
      <i *ngIf="registerForm.value.registerPassword_confirmation.length > 0" class="fa"
         [ngClass]="{'fa-eye-slash': showRegisterConfirmPassword,'fa-eye' : !showRegisterConfirmPassword}"
         (click)="toggleShowRegisterConfirmPassword()"
      ></i>
      <input type="{{credentialsFieldTypeResolver('RegisterConfirm')}}" required class="registerConfirmPwd" formControlName="registerPassword_confirmation" placeholder="Confirm Password"/>
    </div>

    <div class="already-family form-field-wrapper">
      <input id="registerJoinFamily" type="checkbox" name="registerJoinFamily" formControlName="familyCodeControl"/>
      <div></div>
      <label for="registerJoinFamily">My household is already here</label>
    </div>

    <div *ngIf="hasFamily" class="form-field-wrapper">
      <i class="material-icons">vpn_key</i>
      <input type="text" formControlName="code" placeholder="Family Code"/>
    </div>

    <div *ngIf="!hasFamily" class="form-field-wrapper">
      <i class="material-icons">villa</i>
      <input type="text" formControlName="household" placeholder="Household Name"/>
    </div>

    <div class="form-field-wrapper">
      <button type="submit" [disabled]="registerForm.errors">REGISTER</button>
    </div>
  </form>

  <div class="notice">
    {{getNotice()[0]}}<span class="anchor" (click)="switchBetweenLoginAndRegister()">{{getNotice()[1]}}</span>
  </div>

  <div *ngIf="!showRegisterForm" class="brand-and-punchline">
    <div class="brand">CHORE POOL </div>
    <app-punchline class="punchline"></app-punchline>
  </div>
</div>
