
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ui-primary: mat.define-palette(mat.$indigo-palette);
$ui-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ui-theme: mat.define-light-theme((
  color: (
    primary: $ui-primary,
    accent: $ui-accent,
    warn: $ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ui-theme);

/* You can add global styles to this file, and also import other style files */

$headingFont: 'Domine', serif;
$paragraphFont: 'Roboto', sans-serif;
$smallParagraphFont: 'Ubuntu', sans-serif;
$stretchFont: 'Varela Round', sans-serif;
$brandingFont: 'Montserrat Subrayada', sans-serif;

$mobileBreakPoint: 480px;
$heightBreakpoint: 430px;

$normalText: #ffffff;
$accent1: #cc296a;
$accent2: #f58144;
$accent2gradient: #FDC830;
$background1: #1794d7;
$background1Rgba: rgba(23, 148, 215, 1);
$background2: #804cda;
$background2Rgba: rgba(128, 76, 218, 1);
$background-gradient: linear-gradient(to bottom, $background1, $background2);

@mixin noticeStyle {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $normalText;
}

body {
  font-family: $paragraphFont;
  min-height: 100vh;
/*  background-image:  url("./assets/splash/mobile-splash-m.jpg"), $background-gradient;*/
  background-color: #354045;
  background-blend-mode: soft-light;
  overflow-x: hidden;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $mobileBreakPoint) {
/*    background-image:  url("./assets/splash/mobile-splash-s.jpg"), $background-gradient;*/
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
